# Ignore all folders in data/
data/labelled_recordings/
data/raw_recordings/
data/segmented_wav_onlyhums/
data/spec_cache/
data/spec_png_cache_rgb8/
data/prepared/

# Ignore all .zip files in data/
data/*.zip

# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/
.env/

# Ignore JetBrains IDE project files (PyCharm, IntelliJ, etc.)
.idea/
.idea/**

# Ignore Mac system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Optionally ignore logs
*.log

dist/
build/
*.egg-info/

*.env